#textrow{
      width: 90vw;
      height: 60vh;
      border-width: 15px;
      border : 15 15 15 15;
      border-color: aqua;
}
#insert-text{
    margin-left: 30px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 40vw;
    height: 90%;
  }
#summary-text{
    
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 40vw;
    height: 90%;
}
  