@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.App{
  width: 100vw;
  height: 2500px;
  margin: 0px auto;
  padding: 0px auto;
  text-align: center;
  background: #FAFAFA;
  font-family: 'Do Hyeon', sans-serif;
}
.container{
  margin: 0px auto;
  padding: 0px auto;
  text-align: center;
}

#insert-text,#summary-text{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

